body {
	background: white url(2.png);
}
#container {
	background: white;
	margin: 30px auto;
	width: 1000px;
	height 600px;
}
#header {
	height: 200px; /* Висота шапки */
 background: url(images/header.png) no-repeat left bottom;
}
#nav {
	background: #ff9999;
}

	

 