body {
	background: white url(2.png);
}
#container {
	background: white;
	margin: 30px auto;
	width: 1000px;
	height 600px;
}
#header {
	background: ;
color: green;}
#nav {
	background: #ff9999;
}

	

 